<div class="container">
    <div class="page-header">
        <h1 class="page-title">English-Article</h1>
    </div>
    <div class="page-content">
    
     <div>
        <ul class="audio-article">
            <li><h3><a href="https://drive.google.com/drive/u/1/folders/1Wl8z5cQB7mKgHfPhfD7-ZOe1LmXpQeZa" target="_blank">🎧DOWNLOAD THE AUDIO </a></h3></li>
            <li><h3><a href="https://drive.google.com/drive/u/1/folders/1hWDfZ9ilsbcTsFo9zPOrXbdIRgqiB-MX" target="_blank">📖DOWNLOAD ALL THE ARTICLES</a></h3></li>
        
        </ul>
     </div>
     <div class="parafrafo-portuguese">
            <h1>Sleep 'Essential' to Heart Health, Says Heart Association</h1>

            <p>
                The association's cardiovascular health checklist, previously called "Life's Simple 7," has now been updated to include length of sleep as a factor for heart health.
            </p>
             
            <p>
                Now called "Life's Essential 8," the checklist helps people see how healthy their hearts are by scoring areas of their lifestyle such as diet, physical activity and weight.
            ​</p>

            <p>
                The decision to add sleep to the checklist was based on studies showing that both not getting enough sleep and sleeping too long are associated with coronary heart disease.
            ​</p>

            <p>
                The AHA says the best amount of sleep for adults is 7-9 hours a night.AHA president Donald M. Lloyd-Jones said the Essential 8 checklist gives people goals to work toward to
                 improve their cardiovascular health at any age.Cardiovascular disease is the biggest cause of death globally.
            ​</p>


            <p>
                Suggestions for some of the other Essential 8 items have also been updated, including those for diet, blood sugar and cholesterol.
            ​</p>

            <p>
                The AHA first introduced its Simple 7 checklist in 2010. Lloyd-Jones said the AHA felt that, after 12 years, "it was the right time" to review the newest research and update the list.
            </p>

            <p>
                The Essential 8 checklist can be completed online, and gives a score out of 100 based on information about the eight factors of heart health. Scores below 50 show poor cardiovascular health, while scores between 50 and 79 show moderate cardiovascular health, and scores of 80 and above show high cardiovascular health.
            <p>

            <p>

            <p>

            <p>

            <div class="referencia-article">
                <a href="https://engoo.com/app/daily-news/article/sleep-essential-to-heart-health-says-heart-association/jbm8ingjEe2fk9_fbWxe1w" target="_blank">
                    <h3> Reference: <br>
                         https://engoo.com/app/<br>daily-news/article/sleep<br>-essential-to-heart-health<br>-says-heart-association<br>/jbm8ingjEe2fk9_fbWxe1w
                    </h3>
                </a>
              </div>

    </div>


    </div>
</div>