.page-content{
    margin-top: 60px;
    font-size: 28px;
}

.audio-article li h3{
    list-style-type: none;
    margin-left: -30px;
    font-size: 20px;
}

.parafrafo-portuguese{
    margin-top: 40px;
}

.referencia-article{
    margin-top: 70px;
}