<div class="container">
  <div class="page-header">
    <h1 class="page-title">Learn Portuguese from Brazil tips</h1>
  </div>
  <div class="page-content">
    <!--<div>
        <ul class="audio-article">
          <li>
            <h3>
              <a href="https://drive.google.com/drive/u/1/folders/1Wl8z5cQB7mKgHfPhfD7-ZOe1LmXpQeZa"
                target="_blank">🎧DOWNLOAD THE AUDIO
              </a>
            </h3>
          </li>
          <li>
            <h3>
              <a href="https://drive.google.com/drive/u/1/folders/1hWDfZ9ilsbcTsFo9zPOrXbdIRgqiB-MX"
                target="_blank">📖DOWNLOAD ALL THE ARTICLES</a>
            </h3>
          </li>
        </ul>
      </div>-->
    <div class="parafrafo-portuguese">
      <h1>Learn Portuguese from Brazil (Dicas)</h1>

      <p>
        Olá, sejam todos muito bem-vindos.
        Hoje vou compartilhar um pouquinho da minha
        experiência ao longo desses anos fazendo eventos de Language Exchange.
      </p>

      <p>
        Primeiramente, vamos começar com uma dica muito importante, não se preocupe se você não
        entende algumas regras gramaticais da língua portuguesa, até nós brasileiros temos problema com a
        gramática na hora da escrita devido termos uma gramática muito ampla e complexa comparado com
        a língua inglesa e outros idiomas.
      </p>

      <p>
        Eu mesmo tenho dúvidas as vezes quando vou escrever algum texto formal no meu trabalho, bate
        algumas dúvidas como: Eu deveria escrever essa palavra com uma letra (s) ou duas letras (s)? Eu
        deveria escrever essa palavra com (s) ou com (z)? Entre muitas outras palavras que nos confundem
        por terem sons muitos parecidos, porém gramaticalmente a escrita tem que estar na forma correta.

      </p>

      <p>
        Sendo assim nos brasileiros as vezes falamos errado e escrevemos errado em certos momentos se
        formos seguir ao pé da letra a gramática da língua portuguesa.
      </p>

      <p>
        Observação: Acima utilizei uma expressão idiomática (seguir ao pé da letra) expressão idiomática é
        algo muito comum em vários idiomas, seguir ao pé da letra significa fazer tudo certo conforme as
        regras estabelecidas sem deixar nenhum detalhe de fora.
      </p>

      <p>
        Bom, agora que você já sabe que nos brasileiros também cometemos erros ao escrever e falar o
        português, acho que isso já te deixa mais tranquilo para continuar os estudos.

      </p>


      <p>
        Uma das dicas muito importantes que se todos fizessem ao começar estudar o português brasileiro
        ajudaria muito, seria aprender o som das letras do alfabeto, parece ser algo para uma pessoa muito
        iniciante, porém isso ajuda muito a criar uma base da língua portuguesa e vai ajudar em outras
        técnicas no aprendizado e na pronúncia das palavras.
      </p>


      <p>
        No português diferentemente do inglês que muitas vezes você escreve de uma forma e ler de outra
        forma, no português falamos da mesma forma que escrevemos. Está um pouco confuso com essa
        afirmação? No inglês as vezes temos palavras que sua escrita é bem diİcil para falantes não nativos,
        as vezes sabemos como pronunciar más não sabemos como escrever certas palavras devido não
        fazer muito sentido para nós a escrita com o som das palavras.
      </p>
      <p>No português é diferente devido termos sons definidos para as sílabas e falamos exatamente
        utilizando os sons das sílabas.</p>


      <p>Aqui vai outra dica muito importante, estudar as sílabas do português brasileiro, você aprendendo
        os sons das sílabas, você vai conseguir ler e pronunciar de forma correta qualquer palavra. Durante a
        leitura e fala, utilizamos os sons das sílabas, se você pegar o som de cada sílaba e colocá-las juntas
        você vai construir a pronúncia correta de qualquer palavra.
      </p>



      <p>
        Exemplo: a palavra vaca = cow
        Nessa palavra vaca temos duas sílabas va-ca e cada sílaba tem um som, pegando o som de cada
        sílaba e pronunciando em sequência você vai pronunciar corretamente a palavra vaca.

      </p>


      <p>
        Vamos continuar com as dicas, outra dica muito importante é saber que muitas das vezes o som da
        letra (R) tem o mesmo som da letra (H) no inglês, sabendo disso vai te ajudar muito na pronúncia
        das palavras. Exemplo com a palavra roupas = clothes, no português o som da primeira sílaba é bem
        parecido com o som da palavra hope do inglês.

      </p>

      <p>
        Continuando com as dicas, outra dica muito importante para melhorar a sua pronúncia é saber que
        sempre que uma palavra em português termina com a letra (L) o som dessa letra vai ter o som da
        letra (U) e aí está a importância de aprender os sons das letras do alfabeto e das sílabas. Exemplo: a
        palavra Brasil, observe que é terminada com a letra L nesse caso você vai transformar o som da letra
        L no som da letra U.


      </p>

      <p>
        Podemos aplicar essa mesma técnica para palavras que também terminam com a letra (O)
        transformando o som da letra O no som da letra U, por exemplo no nome Fernando, porém
        diferentemente de palavras que terminam com a letra L a letra O pode ter um som de O mais
        fechado como se tivesse com acento circunflexo exemplo (Ô) esse símbolo sobre a letra O significa
        que temos a pronúncia da letra O com um som mais fechad
      </p>


      <p>
        E aí, está gostando das dicas?
        Vamos para mais dicas, durante o aprendizado de um novo idioma para que tenhamos mais
        produtividades no aprendizado é muito importante se expor ao máximo ao idioma e uma das formas
        de fazer isso é encontrar nativos para praticar, fazer coisas simples da sua rotina do dia a dia no
        idioma que você está tentando aprender como, ouvir músicas, ler livros, assistir filmes e séries e
        participar de eventos relacionados.

      </p>


      <p>
        Essas foram as dicas de hoje, espero ter ajudado vocês de alguma forma, para continuar praticando e
        aprendendo, partcipa dos nossos eventos de Language Exchange no Meetup e também fique por
        dentro das novidades no nosso website.

      </p>



      <div class="referencia-article">
        <a href="hƩps://www.meetup.com/pt-BR/brazilian-portuguese-classes-for-foreigners/events/" target="_blank">
          <h3>
            Meetup: <br />
            https://www.meetup.com/pt-BR/brazilian-portuguese-classes-for-foreigners/events/
          </h3>
        </a>
      </div>
      <div class="referencia-article">
        <a href="https://www.meetup.com/pt-BR/brazilian-portuguese-classes-for-foreigners/events/" target="_blank">
          <h3>
            Website: <br />
            https://learnportuguesefrombrazil.github.io/#
          </h3>
        </a>
      </div>
    </div>
  </div>
</div>