<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-8">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Seja muito bem-vindo!</h5>
                    <p class="card-text"></p>
                    <a href="https://www.meetup.com/pt-BR/brazilian-portuguese-classes-for-foreigners/events/"
                        class="btn btn-primary" target="_blank">Eventos</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-4">
            <div class="boas-vindas">
                <div class="card" style="width: 40rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 35px;">Bem-vindo ao Language Exchange</h5>
                        <h5 class="card-title" style="font-size: 35px;">de</h5>
                        <h5 class="card-title" style="font-size: 35px;">Português e Inglês do Brasil</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-10"></div>
        <div class="col-sm-12 col-xs-12 col-md-1">
            <div class="artigos-br">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/brasil-flag.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Artigo</h5>
                        <p class="card-text"></p>
                        <a href="https://tifreelancerdf.wixsite.com/portuguese/projetos" class="btn btn-primary"
                            target="_blank">Português</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12s col-xs-12 col-md-1">
            <div class="artigos-us">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/usa-flag.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Article</h5>
                        <p class="card-text"></p>
                        <a href="https://tifreelancerdf.wixsite.com/portuguese/c%C3%B3pia-portuguese"
                            class="btn btn-primary" target="_blank">Inglês</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>