<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-3 padding-topo-1">
      <div class="card" style="max-width: 35rem">
        <img
          src="assets/img/logo.png"
          class="card-img-top img-tamanho"
          alt="..."
        />
        <div class="card-body-alinhamento-itens">
          <h5 class="card-title">Seja muito bem-vindo!</h5>
          <h5>
            <a
              href="https://www.meetup.com/pt-BR/brazilian-portuguese-classes-for-foreigners/events/"
              class="btn btn-primary"
              target="_blank"
              >Eventos
            </a>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-7 padding-topo-2">
      <div class="tamanho-card-bem-vindo">
        <div class="card-body card-body-alinamento">
          <h1>Bem-vindo ao Language Exchange</h1>
          <h1>de</h1>
          <h1>Português e Inglês do Brasil</h1>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-xs-12 col-md-2 artigos art-1 border border-primary">
      <img src="assets/img/brasil-flag.jpg" class="card-img-top" alt="Learnportuguesefrombrazil imagem do artigo em português" />
      <p>Artigo</p>
      <a
        routerLink="/portuguese-article"
        class="btn btn-primary"
        style="align-items: center"
        >Português</a
      >
    </div>

    <div class="col-12 col-xs-12 col-md-2 artigos art-2 border border-primary">
      <img src="assets/img/usa-flag.jpg" class="card-img-top" alt="Learnportuguesefrombrazil imagem do artigo em inglês" />
      <p>Article</p>
      <a
        routerLink="/english-article"
        class="btn btn-primary"
        style="align-items: center"
        >English</a
      >
    </div>
  </div>
</div>
