
.navbar{
  height: 65px;
}

.navbar-brand img{
  height: 38px;
}

.nav-item {
    text-decoration-color: rgb(17, 17, 17);
    text-decoration:underline;;
    color: aliceblue;
    font-size: 16px;
}

.nav-item:hover {
    background-color: rgb(176, 176, 176);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }

  .card-img-top{
    width: 40px;
    border-radius: 7%;
  }

  .discord img{
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }

  .discord img:hover{
    width: 60px;
    height: 60px;
  }

  .meetup img{
    margin-right: 20px;
    width: 45px;
    height: 38px;
  }

  .meetup img:hover{
    margin-right: 20px;
    width: 60px;
    height: 48px;
  }