<div class="container">
  <div class="page-header">
    <h1 class="page-title">English-Article</h1>
  </div>
  <div class="page-content">
    <!--<div>
      <ul class="audio-article">
        <li>
          <h3>
            <a href="https://drive.google.com/drive/u/1/folders/1Wl8z5cQB7mKgHfPhfD7-ZOe1LmXpQeZa"
              target="_blank">🎧DOWNLOAD THE AUDIO
            </a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="https://drive.google.com/drive/u/1/folders/1hWDfZ9ilsbcTsFo9zPOrXbdIRgqiB-MX"
              target="_blank">📖DOWNLOAD ALL THE ARTICLES</a>
          </h3>
        </li>
      </ul>
    </div>-->
    <!--
    <h3 style="color: rgb(247, 138, 5);">Vocabulário 1</h3>
    <p>blood pressure = hipertensão <br>
      Exemplo: High blood pressure is associated with an increased risk of cardiovascular disease.</p>

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 2</h3>
    <p>stroke = derrame/avc <br>
      Exemplo: The faster a stroke victim is treated, the better their chances are for recovery.</p>

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 3</h3>
    <p>prescribe = prescrever <br>
      Exemplo: TCodeine is one of the most commonly prescribed opioids in the United States.</p>

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 4</h3>
    <p>simulation = simulação <br>
      Exemplo: The training center uses the most advanced flight simulation software available.</p>

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 5</h3>
    <p>estimate = estimativa <br>
      Exemplo: It is estimated that air pollution causes over 4 million premature deaths each year.</p>

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 6</h3>
    <p>productivity = produtividade <br>
      Exemplo: My productivity usually drops in the hours after lunch.</p>
    -->

    <div class="parafrafo-portuguese">
      <h1>Survey: Well-being Worsens, but Employers Don't Notice</h1>

      <p>
        Do you ever think your boss doesn't understand how you feel?
        If so, you're far from alone, according to a survey of well-being in the workplace.
      </p>

      <p>
        Most employees feel their well-being at work has worsened or stayed the same since 2022, the survey by Workplace
        Intelligence and Deloitte found.
      </p>

      <p>
        It said many employees are "struggling with unacceptably low levels of well-being."
        But most senior managers actually think their employees' well-being is getting better.
      </p>

      <p>
        The survey included 3,150 senior managers, junior managers and employees in the US, Canada, the UK and
        Australia.
      </p>

      <p>
        Only 36% of employees said their physical well-being has improved, while 33% said their mental well-being has
        improved.
      </p>

      <p>
        But among the senior managers, 80% said they believed their employees' physical well-being is better in 2023,
        and 77% said their employees' mental well-being has improved.
      </p>

      <p>
        Deloitte said well-being at work has worsened for most people since the coronavirus pandemic.
        And it said managers are struggling with their own poor well-being at work.
      </p>

      <p>
        Three-quarters of senior managers, 64% of junior managers and 60% of employees said they are thinking about
        leaving their job for one that would "better support their well-being."

      </p>

      <p>
        However, this is nothing new. A survey by Adecco in 2022 also found that 45% of employees thought their
        employers did not offer enough support for their well-being.
      </p>

      <p>
        Deloitte said 85% of managers plan to do more for their employees' well-being over the next two years.
      </p>

      <p>
        But 70% of managers said problems such as company policies, too much work, and an "unsupportive workplace
        culture" make it hard for them to support employees' well-being.
      </p>

      
      <h2>Exercise 1 Questions</h2>



      <p>
        1. How many employees did the study look at?

      </p>


      <p>
        2. What percentage of employees said their physical well-being had improved?

      </p>

      <p>
        3. What did managers say made it hard for them to support employees' well-being?

      </p>

      <p>
        4. What are your thoughts on Deloitte's findings?
      </p>


      <p>
        5. Do you find it surprising that most employees feel their well-being at work has worsened since 2022?

      </p>

      <p>
        6. Why do you think senior managers believe employees' well-being has improved when it has actually worsened?
      </p>

      <p>
        7. Have you ever had a management position? If so, what was the hardest thing about it? If not, do you think you'd enjoy it?

      </p>

      <p>
        8. Does your company have a supportive workplace culture?

      </p>

      <p>
        9. What are the most enjoyable aspects of your job?
      </p>

      <p>
        10. What would you miss most about your workplace if you left?
      </p>

      <p>
        11. Have you ever considered leaving your workplace? What would you be interested in doing instead?
      </p>

      <p>
        12. What would be your dream job?
      </p>

      <p>
        13. Do you know anyone who absolutely loves their job?
      </p>

      <div class="referencia-article">
        <a href="https://engoo.com/app/daily-news/article/survey-well-being-worsens-but-employers-dont-notice/z8IYWky-Ee6nK5ueI-pU_w"
          target="_blank">
          <h3>
            Reference: <br />
            https://engoo.com/app/daily-news/article/survey-well-being-worsens-but-employers-dont-notice/z8IYWky-Ee6nK5ueI-pU_w          </h3>
        </a>
      </div>
    </div>
  </div>
</div>