<div class="container">
  <div class="page-header">
    <h1 class="page-title">English-Article</h1>
  </div>
  <div class="page-content">
    <!--<div>
      <ul class="audio-article">
        <li>
          <h3>
            <a href="https://drive.google.com/drive/u/1/folders/1Wl8z5cQB7mKgHfPhfD7-ZOe1LmXpQeZa"
              target="_blank">🎧DOWNLOAD THE AUDIO
            </a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="https://drive.google.com/drive/u/1/folders/1hWDfZ9ilsbcTsFo9zPOrXbdIRgqiB-MX"
              target="_blank">📖DOWNLOAD ALL THE ARTICLES</a>
          </h3>
        </li>
      </ul>
    </div>-->

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 1</h3>
    <p>blood pressure = hipertensão <br>
      Exemplo: High blood pressure is associated with an increased risk of cardiovascular disease.</p>

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 2</h3>
    <p>stroke = derrame/avc <br>
      Exemplo: The faster a stroke victim is treated, the better their chances are for recovery.</p>

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 3</h3>
    <p>prescribe = prescrever <br>
      Exemplo: TCodeine is one of the most commonly prescribed opioids in the United States.</p>

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 4</h3>
    <p>simulation = simulação <br>
      Exemplo: The training center uses the most advanced flight simulation software available.</p>

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 5</h3>
    <p>estimate = estimativa <br>
      Exemplo: It is estimated that air pollution causes over 4 million premature deaths each year.</p>

    <h3 style="color: rgb(247, 138, 5);">Vocabulário 6</h3>
    <p>productivity = produtividade <br>
      Exemplo: My productivity usually drops in the hours after lunch.</p>


    <div class="parafrafo-portuguese">
      <h1>Study Suggests Prescribing Fruits and Vegetables for Diabetes</h1>

      <p>
        We all know that fruits and vegetables are good for us, but are we eating enough of them?
      </p>

      <p>
        Research has shown that only 1 in 10 Americans eats enough fruits and vegetables. Often this is because healthy
        food is more expensive, or because people live in poor neighborhoods where fresh food is not easy to find.
      </p>

      <p>
        Poor diet has also been shown to be a cause of Type 2 diabetes, which can lead to other health problems such as
        high blood pressure, heart disease and an increased risk of stroke.
      </p>

      <p>
        Now a new study suggests that prescribing cheap or free fruits and vegetables to Americans with diabetes could
        prevent 292,000 serious health events such as heart disease or stroke, as well as saving $39.6 billion in health
        care costs over 25 years.
      </p>

      <p>
        The researchers created a simulation model using data from the National Health and Nutrition Examination Survey.
        The survey included 6.5 million Americans aged between 40 and 79 who had diabetes and did not have enough access
        to healthy food.
      </p>

      <p>
        To estimate the effect of a food prescription program on these people, they also used data from previous studies
        of 20 food prescription programs for people with similar health problems who could not easily get healthy food.
      </p>

      <p>
        The study found that a program providing free or discounted fruits and vegetables over a 25-year period would
        cost almost $44.3 billion. However, on top of the $39.6 billion saved in health care costs, almost $4.8 billion
        would also be saved in lost productivity at workplaces around the country.
      </p>

      <p>
        The study also found that the program would add a total of 260,000 years of perfect health to the lives of the
        participants as a whole.
      </p>

      <p>
        Although food prescription programs have been shown to have clear health benefits, the long-term effects of a
        national US program had not previously been studied.
      </p>

      <h2>Exercise 1 Questions</h2>



      <p>
        1. What are your thoughts on the findings of this study?

      </p>


      <p>
        2. Do you think food prescription programs will be commonplace in the future?

      </p>

      <p>
        3. Do you find it surprising that so few Americans eat the recommended amount of fruits and vegetables?

      </p>

      <p>
        4. How expensive are fruits and vegetables where you live?
      </p>


      <p>
        5. Is unhealthy food cheap in your country?

      </p>

      <p>
        6. Would you describe the typical diet in your country as healthy?
      </p>

      <p>
        7. What countries do you imagine have the healthiest diets in the world?

      </p>

      <p>
        8. Are there any foods you're trying to eat more of or less of?

      </p>

      <p>
        9. Which of your friends or family pays most attention to what they eat?
      </p>


      <!-- 
      <p>
        16. Eating avocado as a sweet treat — In almost every other country in the world, avocado is a fruit that is
        prepared as a snack. In Chile, they even put avocado on hot dogs. In Mexico, there is the famous guacamole.
        There are those who freak out when, in Brazil, they see us eating avocado with sugar.

      </p>


      <p>
        17. The variety of our fruits — Foreigners learn that the traditional caipirinha recipe uses cachaça, lime and
        sugar — which is absolutely correct. But they are amazed when they get here and discover that there are
        caipirinhas made with pineapple, cashew, tangerine, lemon, strawberry, kiwi, surinam cherry, carambola... And a
        variety of mixed fruits!

      </p>


      <p>
        18. Sweet pizzas — Blogger Denise, of German origin, considers pizzas topped with pineapple or Nutella to be an
        insult to Italians. Even having lived for 2 and a half years in Brazil, she didn't get used to the idea.

      </p>


      <p>
        19. Using a napkin to eat anything with your hands — Isn't it weird that they think that's weird? But we prefer
        not to get our hands greasy with kibbeh and coxinha!

      </p>


      <p>
        20. Couples sitting next to each other in a restaurant — Isn't it romantic? It makes kissing so much easier...
        But there are foreigners who are not used to this configuration, who knows why. By the way, kissing in public
        places is frowned upon in certain countries.​

      </p>


      <p>
        21. Addressing people by their first name — Those who find this behavior weird are people from the corporate
        world, who abroad have a more formal way of addressing others, like “Mr. Smith” here and “Mr. Souza” there.
        Asking “What did you think of our project, Ronald?” may sound strange to an American executive.​

      </p>


      <p>
        22. Our long goodbyes — Do you know when the group leaves a club, bar or restaurant and says goodbye, but
        there's still one more chat... and more kisses, more goodbyes? And it never ends? For some foreigners, this
        farewell ritual that seems endless, typical of Brazilians, can seem a little funny.

      </p>


      <p>
        23. Wearing speedos on beaches — Americans, for example, find speedos that Brazilian males wear to go to the
        beach strange. There is even discussion on the internet about the topic. There they prefer longer, baggier
        shorts, and they find our beach look a little dubious.
      </p>


      <p>
        24. Our high rate of plastic surgery — In some parts of the world, it's considered inappropriate to ask someone
        if they've had any type of cosmetic surgery. Here, on the contrary, the new shape of a nose or the elimination
        of a double chin becomes the hot topic. Brazil is the runner-up in plastic surgery and loses only to the United
        States. But, as we have already said, it’s not in good taste to comment on the subject there.

      </p>


      <p>
        25. Bus fare collector and gas station attendant — These professions do not exist in most countries, where
        citizens have prepaid public transport for a certain period (or buy tickets at electronic machines) and fill up
        with gasoline through a self-service system.

      </p>


      <p>
        25. Bus collector and gas station attendant — These professions do not exist in most countries, where citizens
        have prepaid public transport for a certain period (or buy tickets at electronic machines) and fill up with
        gasoline through a self-service system.
      </p>


      <p>
        26. Waving down the bus for it to stop — In large cities in Europe or North America, buses stop at all stops.
        Here, if we don't wave the bus down, we run the risk of missing the ride we've been waiting for for a long time.

      </p>

      <p>
        27. Our high number of holidays — In all, we have 12 national holidays, not counting those decreed by states and
        municipalities and those dedicated to certain professional categories, such as Teacher's Day. For some
        foreigners, it's a mess. Other countries, such as Colombia and India, however, are more “lazy” and have 18
        holidays a year.​

      </p>


      <p>
        28. The excessive use of plastic bags — Many first world countries have already abolished plastic bags in
        supermarkets and stores. Therefore, some foreigners are amazed to see someone leave the market in Brazil with
        more than 10 bags in their hands. Although some Brazilian municipalities have adopted restrictive measures on
        the use of plastic in commerce, we still do not have a national standard for the subject.

      </p>

      <p>
        29. Our street art — Monica, author of the blog Not a Nomad, was stunned by the color and variety of graffiti on
        the streets of São Paulo. She is American and lives in Berlin, where street art is also highly encouraged, but
        she believes that Brazilian graffiti artists are at a higher level of artistic expression. She cites muralist
        Kobra as one of those who most impressed her.

      </p>

      <p>
        30. Our diversity — The mix of so many peoples is expressed in the richness of our culture, our cuisine and our
        attitude. The diversity of Brazil enchants those who come from abroad.

      </p>

      <p>31. Our hospitality — We are good hosts — is what most foreign observers say. “Brazilians will literally go out
        of their way to help you get somewhere”, points out the Wanderful World blog.</p>
         -->

      <p></p>

      <p></p>

      <div class="referencia-article">
        <a href="https://engoo.com/app/daily-news/article/study-suggests-prescribing-fruits-and-vegetables-for-diabetes/M_GwJCGQEe6Tl3OPqQYvyQ"
          target="_blank">
          <h3>
            Reference: <br />
            https://engoo.com/app/daily-news/article/study-suggests-prescribing-fruits-and-vegetables-for-diabetes/M_GwJCGQEe6Tl3OPqQYvyQ
          </h3>
        </a>
      </div>
    </div>
  </div>
</div>