<div class="container">
    <div class="page-content">
            <div>
                <ul class="audio-article">
                    <li><h3><a href="https://drive.google.com/drive/u/1/folders/1DjSDLbNCG3OksyRqw1DwNZRL-qDQI1QU" target="_blank">🎧DOWNLOAD THE AUDIO </a></h3></li>
                    <li><h3><a href="https://drive.google.com/drive/u/1/folders/1hWDfZ9ilsbcTsFo9zPOrXbdIRgqiB-MX" target="_blank">📖DOWNLOAD ALL THE ARTICLES</a></h3></li>
                
                </ul>
            </div>
     <div class="parafrafo-portuguese">
            <h1>Sono 'essencial' para a saúde do coração, diz Heart Association </h1>

            <p>
                Dormir o suficiente é importante para um estilo de vida saudável - e de acordo com a American Heart Association (AHA), também é essencial para o seu coração.
            </p>

            <p>
                A lista de verificação de saúde cardiovascular da associação, anteriormente chamada de "Life's Simple 7", foi atualizada para incluir a duração do sono como um fator para a saúde do coração.
            ​</p>

            <p>
                Agora chamado de "Life's Essential 8", a lista de verificação ajuda as pessoas a ver como seus corações são saudáveis, pontuando áreas de seu estilo de vida, como dieta, atividade física e peso.
            </p>

            <p>
                A decisão de adicionar sono à lista de verificação foi baseada em estudos que mostram que tanto não dormir o suficiente quanto dormir demais estão associados a doenças cardíacas coronárias.
            </p>

            <p>
                A AHA diz que a melhor quantidade de sono para adultos é de 7 a 9 horas por noite.O presidente da AHA, Donald M. Lloyd-Jones, disse que a lista de verificação Essential 8 dá às pessoas metas para trabalhar para melhorar sua saúde cardiovascular em qualquer idade.
            ​</p>

            <p>
                A doença cardiovascular é a maior causa de morte no mundo.Sugestões para alguns dos outros itens do Essential 8 também foram atualizadas, incluindo dieta, açúcar no sangue e colesterol.
            ​</p>
               <p>
                  A AHA introduziu sua lista de verificação Simple 7 pela primeira vez em 2010. Lloyd-Jones disse que a AHA sentiu que, após 12 anos, "era o momento certo" para revisar a pesquisa mais recente e atualizar a lista.
               </p>
            <p>
                A lista de verificação Essential 8 pode ser preenchida online e dá uma pontuação de 100 com base em informações sobre os oito fatores da saúde do coração. Pontuações abaixo de 50 indicam saúde cardiovascular precária, enquanto pontuações entre 50 e 79 indicam saúde cardiovascular moderada e pontuações de 80 e acima indicam saúde cardiovascular alta
            </p>

            <p>

            </p>

            <p>
                
            </p>

            <div class="referencia-article">
                <a href="https://engoo.com/app/daily-news/article/sleep-essential-to-heart-health-says-heart-association/jbm8ingjEe2fk9_fbWxe1w" target="_blank">
                    <h3> Reference: <br>
                         https://engoo.com/app/<br>daily-news/article/sleep<br>-essential-to-heart-health<br>-says-heart-association<br>/jbm8ingjEe2fk9_fbWxe1w
                    </h3>
                </a>
              </div>

        </div>


    </div>
</div>