<div class="container">
  <div class="page-content">
    <div>
      <ul class="audio-article">
        <li>
          <h3>
            <a
              href="https://drive.google.com/drive/u/1/folders/1DjSDLbNCG3OksyRqw1DwNZRL-qDQI1QU"
              target="_blank"
              >🎧DOWNLOAD THE AUDIO
            </a>
          </h3>
        </li>
        <li>
          <h3>
            <a
              href="https://drive.google.com/drive/u/1/folders/1hWDfZ9ilsbcTsFo9zPOrXbdIRgqiB-MX"
              target="_blank"
              >📖DOWNLOAD ALL THE ARTICLES</a
            >
          </h3>
        </li>
      </ul>
    </div>
    <div class="parafrafo-portuguese">
      <h1>
        30+ Coisas do Brasil que parecem estranhas, irritantes ou muito bacanas
        para os estrangeiros
      </h1>

      <p>
        Quando viajamos para outro país, tudo é novidade e motivo de
        curiosidade: a maneira como as pessoas se comportam, como se vestem, que
        música ouvem, quais são as regras de etiqueta, o que gostam de comer.
        Podemos achar alguns hábitos diferentes, esquisitos ou mesmo tão
        encantadores que acabamos os assimilando.
      </p>

      <p>
        Quando um estrangeiro visita o Brasil (ou recebe brasileiros em seu
        país), é claro que também vai reparar no nosso jeito de ser. Coisas que
        fazemos diariamente, e para nós parecem muito naturais, às vezes são
        vistas com olhos de surpresa ou espanto por quem vem de fora. Em certos
        casos, de maneira positiva. Em outros, perdemos alguns pontos. ​
      </p>

      <p>
        Com base nos relatos de vários viajantes, o Incrível.club fez uma lista
        do que os nossos amigos pensam de nós. O que será que eles consideram
        mais engraçado, esquisito, maravilhoso ou mesmo muito irritante nos
        nossos hábitos? As respostas vêm a seguir.
      </p>

      <p>
        1. Abraçar e tocar — Somos muito calorosos, gostamos de abraços. É uma
        característica positiva, sem dúvida. Mas alguns povos mais sóbrios não
        estão acostumados com esse tipo de intimidade. Por isso, abraços e
        toques podem ser considerados invasivos para eles.
      </p>

      <p>
        2. Beijinhos como forma de cumprimento — Vale a mesma regra acima.
        Algumas culturas consideram o beijinho no rosto algo muito íntimo. “No
        Reino Unido, só pessoas pretensiosas e chatas ou velhas tias que você
        não vê há muito tempo fazem isso”, disse um internauta em um fórum a
        respeito de hábitos irritantes dos brasileiros.
      </p>

      <p>
        3. Mandar beijos e abraços no final de um e-mail — Sim, somos tão
        beijoqueiros e gostamos tanto de abraçar que até nos textos expressamos
        essa afeição por e-mail ou WhatsApp. Alguns estrangeiros acham curioso,
        mas não é um defeito, não.
      </p>
      <p>
        4. Marcar e não encontrar — temos aquele jeito de dizer “vamos marcar”
        ou “vamos falando”. Ou de convidar — “passa lá em casa!” — e nunca
        nenhum encontro acontece. Para estrangeiros, sobretudo europeus, muito
        práticos, um convite é um convite e deve ser respeitado. Eles não
        entendem muito bem a nossa falta de compromisso.
      </p>
      <p>
        5. Nossa mania de chegar atrasado — Devemos dar o braço a torcer. Eles
        têm toda razão!
      </p>

      <p>
        6. Pouca gente fala inglês no Brasil — É uma reclamação recorrente em
        vários textos de estrangeiros que nos visitaram. Na hora de se
        comunicar, a coisa complica. Apesar de adorarmos receber gente de fora e
        fazer tudo para ajudar, eles têm razão: apenas 5% dos brasileiros falam
        inglês.
      </p>

      <p>
        7. Atendentes de loja que dão palpites e querem empurrar mercadorias —
        Sabe aquele hábito que nossos atendentes têm de oferecer uma blusinha,
        um cinto, um acessório? Isso irrita muitos turistas estrangeiros,
        acostumados a fazer suas escolhas sem intromissão alheia.
      </p>

      <p>
        8. Nosso jeito às vezes muito direto — “Por favor”, “com licença”,
        “obrigado” etc., às vezes não são palavras muito comuns no nosso
        vocabulário e nas relações com quem presta serviços. Isso é notado pelos
        estrangeiros nos brasileiros que viajam para o exterior. Uma dica para
        melhorarmos!
      </p>

      <p>
        9. Tomar banho todos os dias — E às vezes mais de um por dia.
        Estrangeiros de países frios acham curioso o nosso principal hábito de
        higiene.
      </p>

      <p>
        10. Levar escova, pasta de dente e fio dental para o trabalho — Sim, tem
        quem ache isso estranho. Mas nossa saúde bucal agradece!
      </p>

      <p>
        11. Jogar papel higiênico no cesto — Tudo bem que fomos culturalmente
        incutidos a evitar entupimentos e por isso temos o hábito de usar o
        cestinho nas casas e nos ambientes públicos. Mas vamos combinar que não
        é mesmo uma das coisas mais saudáveis juntar papel higiênico usado.
      </p>

      <p>
        12. Ter mais de um banheiro na casa — Ou um para cada quarto, fora o
        lavabo, nas casas de classe alta. Nos apartamentos de classe média da
        Europa, por exemplo, é um banheiro para a turma toda e olhe lá.
      </p>

      <p>
        13. Ter bidê no banheiro — Tudo bem que a arquitetura moderna já está
        dispensando esse acessório. O hábito de instalar bidês no banheiro foi
        importado pelos brasileiros da França, mas não é algo muito comum no
        resto do mundo.
      </p>

      <p>
        14. Compartilhar bebida e comida — “Quer dar uma mordida no meu
        sanduíche?” Para americanos e europeus, por exemplo, essa não é uma
        proposta muito agradável. Rola um certo nojinho.
      </p>

      <p>
        15. Nossa mania de churrasco — Como em certos países a carne bovina é um
        item caro (por aqui, já foi mais barato), alguns estrangeiros se
        surpreendem com a fartura das nossas churrascadas ou dos nossos
        rodízios. Ponto para nós no quesito comilança!
      </p>

      <p>
        16. Comer abacate como doce — Em quase todos os outros países do mundo,
        o abacate é uma fruta preparada como salgado. No Chile, coloca-se
        abacate até no cachorro-quente. No México, há o famoso guacamole. Tem
        quem pire quando, no Brasil, nos vê comendo abacate com açúcar.
      </p>

      <p>
        17. A variedade das nossas frutas — Os estrangeiros aprendem que a
        receita tradicional da caipirinha leva cachaça, limão e açúcar — o que é
        corretíssimo. Mas ficam maravilhados ao chegar aqui e descobrir que há
        caipirinha de abacaxi, caju, tangerina, lima-da-pérsia, morango, kiwi,
        pitanga, carambola... E de várias frutas misturadas!
      </p>

      <p>
        18. Pizzas doces — A blogueira Denise, de origem alemã, considera um
        insulto aos italianos pizzas com cobertura de abacaxi ou Nutella. Mesmo
        tendo vivido por 2 anos e meio no Brasil, ela não se acostumou com a
        ideia.
      </p>

      <p>
        19. Usar guardanapo para comer qualquer coisa com as mãos — Não é
        esquisito eles acharem isso esquisito? Mas nós preferimos não ficar com
        a mão engordurada de quibe e de coxinha!
      </p>

      <p>
        20. Casais sentados um ao lado do outro no restaurante — Não é
        romântico? Facilita tanto na hora de dar um beijinho... Mas há
        estrangeiros que não estão acostumados com essa configuração, sabe-se lá
        a razão. Aliás, beijos em lugares públicos não são muito bem vistos em
        certos países.
      </p>

      <p>
        21. Chamar pelo primeiro nome — Quem acha esse comportamento peculiar
        são as pessoas do mundo corporativo, que no exterior têm um tratamento
        mais formal, tipo “Mr. Smith” para cá e “Mr. Souza” para lá. Perguntar
        “o que você achou do nosso projeto, Ronald?” pode soar estranho a um
        executivo americano.
      </p>

      <p>
        22. Nossas longas despedidas — Sabe quando a turma sai da balada, do bar
        ou do restaurante e dá tchau, mas ainda rola mais um papo... e mais
        beijinhos, mais tchaus? E a coisa nunca acaba? Para alguns estrangeiros,
        esse ritual de adeus que parece não ter fim, típico dos brasileiros,
        pode parecer meio engraçado.
      </p>

      <p>
        23. Usar sunga nas praias — Americanos, por exemplo, acham estranhas as
        sungas mais cavadas que os rapazes brasileiros usam para ir à praia. Tem
        até discussão na internet sobre o tema. Lá eles preferem calções mais
        longos e largos, e acham nosso look praiano de gosto meio duvidoso.
      </p>

      <p>
        24. Nosso alto índice de cirurgias plásticas — Em alguns lugares do
        mundo, é indiscreto perguntar a uma pessoa se ela fez algum tipo de
        cirurgia estética. Aqui, ao contrário, o novo formato do nariz ou a
        eliminação da papada vira o assunto da roda. O Brasil é o vice-campeão
        em plásticas e perde apenas para os Estados Unidos. Mas, como já
        dissemos, lá não é de bom tom comentar o assunto.
      </p>

      <p>
        25. Cobrador de ônibus e frentista de posto — Essas profissões inexistem
        na maioria dos países, onde os cidadãos têm o transporte público
        pré-pago por um determinado período (ou compram tíquetes em máquinas
        eletrônicas) e colocam gasolina por um sistema self-service.
      </p>

      <p>
        26. Acenar para o ônibus parar — Em grandes cidades da Europa ou da
        América do Norte, os ônibus param em todos os pontos. Aqui, se não
        acenamos, corremos o risco de perder a condução que esperamos por um
        tempão.
      </p>

      <p>
        27. Nosso alto número de feriados — Ao todo, temos 12 feriados
        nacionais, sem contar os decretados por estados e municípios e aqueles
        dedicados a certas categorias profissionais, como o Dia do Professor.
        Para alguns estrangeiros, é um descalabro. Outros países, como a
        Colômbia e a Índia, porém, são mais “folgados” e chegam a ter 18
        feriados por ano.
      </p>

      <p>
        28. O uso abusivo de sacolas plásticas — Muitos países do primeiro mundo
        já aboliram os saquinhos de plástico em supermercados e lojas. Por isso,
        alguns estrangeiros se espantam ao ver alguém sair do mercado no Brasil
        com mais de 10 sacolinhas nas mãos. Embora alguns municípios brasileiros
        tenham adotado medidas restritivas sobre o uso de plástico no comércio,
        ainda não temos uma norma nacional para o tema.
      </p>

      <p>
        29. Nossa arte de rua — Monica, autora do blog Not a Nomad, ficou
        abismada com a cor e a variedade dos grafites nas ruas de São Paulo. Ela
        é americana e vive em Berlim, onde a arte de rua também é bastante
        incentivada, mas acredita que os grafiteiros brasileiros estejam em um
        nível superior de expressão artística. Cita o muralista Kobra como um
        dos que mais a impressionou.
      </p>

      <p>
        30. Nossa diversidade — A mistura de tantos povos se expressa na riqueza
        da nossa cultura, da nossa culinária e do nosso jeito de ser. A
        diversidade do Brasil encanta quem vem de fora.
      </p>

      <p>
        31. Nossa hospitalidade — Somos bons anfitriões — é o que a maioria dos
        observadores estrangeiros dizem. “Os brasileiros até mudam de direção
        para ajudar você a chegar em algum lugar”, aponta o blog Wanderful
        World.
      </p>

      <div class="referencia-article">
        <a
          href="https://incrivel.club/inspiracao-gente/30-coisas-do-brasil-que-os-estrangeiros-acham-esquisitas-irritantes-ou-maravlihosas-1039110/"
          target="_blank"
        >
          <h3>
            Reference: <br />
            https://incrivel.club/inspiracao-gente/30-coisas-do-brasil-que-os-estrangeiros-acham-esquisitas-irritantes-ou-maravlihosas-1039110/
          </h3>
        </a>
      </div>
    </div>
  </div>
</div>
