.page-content{
    margin-top: 60px;
    font-size: 28px;
}

.botao-download{
  margin-top: 100px;
}

.audio-article li h3{
    list-style-type: none;
    margin-left: -30px;
    font-size: 20px;
}

.audio-article{
    padding-top: 60px;
}

.parafrafo-portuguese{
    margin-top: 60px;
}

.referencia-article{
    margin-top: 70px;
}

.parafrafo-portuguese h1{
    margin-bottom: 40px;
}

.parafrafo-portuguese p{
    margin-bottom: 40px;
    text-align: justify;
}
