<div class="container">
    <div class="page-header">
        <h1 class="page-title">Portuguese-Article</h1>
    </div>
    <div class="page-content">
            <div>
                <ul class="audio-article">
                    <li><h3><a href="https://drive.google.com/drive/u/1/folders/1DjSDLbNCG3OksyRqw1DwNZRL-qDQI1QU" target="_blank">🎧DOWNLOAD THE AUDIO </a></h3></li>
                    <li><h3><a href="https://drive.google.com/drive/u/1/folders/1hWDfZ9ilsbcTsFo9zPOrXbdIRgqiB-MX" target="_blank">📖DOWNLOAD ALL THE ARTICLES</a></h3></li>
                
                </ul>
            </div>
     <div class="parafrafo-portuguese">
            <h1>Cultura brasileira </h1>

            <p>A cultura brasileira é rica e diversa, o que se explica pela formação 
                geográfica e histórica do país. Indígenas, africanos e portugueses contribuíram muito para essa construção.
            </p>

            <p>A cultura brasileira é vasta e diversa, nossos hábitos culturais receberam elementos
                e influências de povos indígenas, africanos, portugueses, espanhóis, italianos e 
                japoneses, entre outros, devido à colonização, à imigração e aos povos que já habitavam aqui.
            ​</p>

            <p>São elementos característicos da cultura brasileira a música popular, a literatura, a culinária, as festas tradicionais nacionais.</p>

            <h1>Como a cultura brasileira nasceu?</h1>

            <p>Podemos dizer que os elementos mais antigos da cultura genuinamente brasileira remontam aos povos indígenas que já habitavam o território de nosso país antes da chegada dos portugueses em 1500.</p>

            <p>Donos de uma cultura extensa, os povos nativos mantinham as suas crenças e praticavam 
                seus elementos culturais aliados a um modo de vida simples e em contato com a natureza.
            ​</p>

            <p>Com a chegada dos portugueses e o início da colonização, a cultura europeia foi introduzida, 
                à força, nos povos indígenas, e as missões da Companhia de Jesus (formadas por padres jesuítas) 
                vieram para o Brasil com o intuito de catequizar os índios.
            ​</p>

            <p>No século XIX, o Brasil vivenciou mais um processo migratório composto por trabalhadores italianos que vieram trabalhar nas lavouras de café.</p>

            <p>Outros grandes fluxos migratórios significativos aconteceram durante a Segunda Guerra Mundial, quando japoneses, alemães e judeus buscaram refúgio em terras brasileiras.</p>

            <p>Toda essa vastidão de povos provocou a formação de uma cultura plural e de culturas diferentes. As diferenças geográficas também contribuíram para que o processo cultural brasileiro se tornasse plural e diversificado.</p>

            <div class="referencia-article">
                <h3><a href="https://brasilescola.uol.com.br/sociologia/cultura-brasileira.htm">Reference: https://brasilescola.uol.com.br/sociologia/cultura-brasileira.htm </a></h3>
             </div>

        </div>


    </div>
</div>