<div class="container">
  <div class="page-header">
    <h1 class="page-title">English-Article</h1>
  </div>
  <div class="page-content">
    <div>
      <ul class="audio-article">
        <li>
          <h3>
            <a
              href="https://drive.google.com/drive/u/1/folders/1Wl8z5cQB7mKgHfPhfD7-ZOe1LmXpQeZa"
              target="_blank"
              >🎧DOWNLOAD THE AUDIO
            </a>
          </h3>
        </li>
        <li>
          <h3>
            <a
              href="https://drive.google.com/drive/u/1/folders/1hWDfZ9ilsbcTsFo9zPOrXbdIRgqiB-MX"
              target="_blank"
              >📖DOWNLOAD ALL THE ARTICLES</a
            >
          </h3>
        </li>
      </ul>
    </div>
    <div class="parafrafo-portuguese">
      <h1>30+ Things from Brazil That Look Weird, Irritating, or Really Cool to Foreigners</h1>

      <p>
        When we travel to another country, everything is new and a source of curiosity: the way people behave, how they dress, what music they listen to, what are the rules of etiquette, what they like to eat. We can find some habits different, weird or even so charming that we end up assimilating them.
      </p>

      <p>
        When a foreigner visits Brazil (or receives Brazilians in his country), it is clear that he will also notice our way of being. Things that we do on a daily basis, and for us that seem very natural, are sometimes seen with eyes of surprise or astonishment by outsiders. In some cases, in a positive way. In others, we lost some points. 
      </p>

      <p>
        Based on the reports of several travellers, Incrível.club made a list of what our friends think of us. What do they find the funniest, weirdest, most wonderful, or even most annoying about our habits? The answers follow.
      </p>

      <p>
        1. Hugging and touching — We are very warm, we like hugs. It's a positive feature, no doubt. But some more sober people are not used to this kind of intimacy. Therefore, hugs and touches can be considered invasive for them.
      </p>

      <p>
        2. Kisses as a form of greeting — Same rule as above applies. Some cultures consider kissing on the cheek very intimate. “In the UK, only pretentious and boring people or old aunts you haven't seen for a long time do that”, said an internet user in a forum about annoying habits of Brazilians.
      </p>

      <p>
        3. Sending kisses and hugs at the end of an email — Yes, we are such kissers and we like to hug so much that we even express this affection in texts via email or WhatsApp. Some foreigners find it curious, but it is not a defect, no.
      </p>


      <p>
        4. Mark and not find — we have that way of saying “let's mark” or “let's talk”. Or to invite — “stop by the house!” — and no encounter ever takes place. For foreigners, especially Europeans, who are very practical, an invitation is an invitation and must be respected. They don't quite understand our lack of commitment.
      </p>


      <p>
        5. Our mania for being late — We must give our arm to twist. They are absolutely right!
      </p>


      <p>
        6. Few people speak English in Brazil — This is a recurring complaint in several texts by foreigners who have visited us. When it comes to communicating, things get complicated. Although we love welcoming people from abroad and doing everything to help, they are right: only 5% of Brazilians speak English.
      </p>


      <p>
        7. Store clerks who make suggestions and want to push merchandise — You know that habit our clerks have of offering a blouse, a belt, an accessory? This annoys many foreign tourists, who are used to making their choices without outside interference.
      </p>

      <p>
        8. Our way is sometimes very direct — “Please”, “excuse me”, “thank you”, etc., are sometimes not very common words in our vocabulary and in our relationships with those who provide services. This is noticed by foreigners in Brazilians traveling abroad. A tip to improve!
      </p>


      <p>
        9. Shower every day — And sometimes more than once a day. Foreigners from cold countries find our main hygiene habit curious.
      </p>


      <p>
        10. Bring a toothbrush, toothpaste and dental floss to work — Yes, some people find that strange. But our oral health appreciates it!
      </p>


      <p>
        11. Throw toilet paper in the basket — It's okay that we were culturally instilled to avoid clogging and that's why we have the habit of using the basket in homes and public environments. But let's face it, it's really not one of the healthiest things to collect used toilet paper.
      </p>


      <p>
        12. Having more than one bathroom in the house - Or one for each room, apart from the toilet, in upper-class homes. In middle-class apartments in Europe, for example, it's a bathroom for the whole gang and look at that.
      </p>


      <p>
        13. Have a bidet in the bathroom — It's okay that modern architecture is already dispensing with this accessory. The habit of installing bidets in the bathroom was imported by Brazilians from France, but it is not very common in the rest of the world.
      </p>


      <p>
        14. Sharing food and drink — “Want to have a bite of my sandwich?” For Americans and Europeans, for example, this is not a very pleasant proposition. Rolls a bit disgusting.
      </p>


      <p>
        15. Our barbecue craze — As in certain countries beef is an expensive item (here, it used to be cheaper), some foreigners are surprised by the abundance of our barbecues or our rodízios. Point for us in terms of eating!
      </p>


      <p>
        16. Eat avocado as a sweet treat — In almost every other country in the world, avocado is a fruit that is prepared as a snack. In Chile, they even put avocado on a hot dog. In Mexico, there is the famous guacamole. There are those who freak out when, in Brazil, they see us eating avocado with sugar.
      </p>


      <p>
        17. The variety of our fruits — Foreigners learn that the traditional caipirinha recipe uses cachaça, lemon and sugar — which is absolutely correct. But they are amazed when they get here and discover that there is a pineapple, cashew, tangerine, lemon, strawberry, kiwi, pitanga, carambola caipirinha... And a variety of mixed fruits!
      </p>


      <p>
        18. Sweet pizzas — Blogger Denise, of German origin, considers pizzas topped with pineapple or Nutella to be an insult to Italians. Even having lived for 2 and a half years in Brazil, she didn't get used to the idea.
      </p>


      <p>
        19. Using a napkin to eat anything with your hands — Isn't it weird that they think that's weird? But we prefer not to get our hands greasy with kibbeh and coxinha!
      </p>


      <p>
        20. Couples Sitting Next To Each Other In Restaurant — Isn't It Romantic? It makes kissing so much easier... But there are foreigners who are not used to this configuration, who knows why. By the way, kissing in public places is not very well seen in certain countries.​
      </p>


      <p>
        21. Calling by the first name — Those who find this behavior peculiar are people from the corporate world, who abroad have a more formal treatment, like “Mr. Smith” over here and “Mr. Souza” over there. Asking “What did you think of our project, Ronald?” it may sound strange to an American executive.​
      </p>


      <p>
        22. Our long goodbyes — Do you know when the group leaves the club, the bar or the restaurant and says goodbye, but there's still one more chat... and more kisses, more goodbyes? And does it never end? For some foreigners, this farewell ritual that seems to never end, typical of Brazilians, can seem a little funny.
      </p>


      <p>
        23. Wear swim trunks on the beaches — Americans, for example, find the deeper swim trunks that Brazilian boys use to go to the beach strange. There is even discussion on the internet about the topic. There they prefer longer, baggier shorts, and they find our beach look a little dubious. ​
      </p>


      <p>
        Suggestions for some of the other Essential 8 items have also been
        updated, including those for diet, blood sugar and cholesterol. ​
      </p>


      <p>
        24. Our high rate of plastic surgery — In some parts of the world, it's indiscreet to ask someone if they've had any type of cosmetic surgery. Here, on the contrary, the new shape of the nose or the elimination of the double chin become the subject of the wheel. Brazil is runner-up in plastic surgery and is second only to the United States. But, as we have already said, it is not good manners to comment on the subject.
      </p>


      <p>
        25. Bus collector and gas station attendant — These professions do not exist in most countries, where citizens have prepaid public transport for a certain period (or buy tickets at electronic machines) and fill up with gasoline through a self-service system.
      </p>


      <p>
        26. Wave for the bus to stop — In large cities in Europe or North America, buses stop at all stops. Here, if we don't wave, we run the risk of missing the ride we've been waiting for a long time.
      </p>

      <p>
        27. Our high number of holidays — In all, we have 12 national holidays, not counting those decreed by states and municipalities and those dedicated to certain professional categories, such as Teacher's Day. For some foreigners, it's a disaster. Other countries, such as Colombia and India, however, are more “loose” and have 18 holidays a year.​
      </p>


      <p>
        28. The abusive use of plastic bags — Many first world countries have already abolished plastic bags in supermarkets and stores. Therefore, some foreigners are amazed to see someone leave the market in Brazil with more than 10 bags in their hands. Although some Brazilian municipalities have adopted restrictive measures on the use of plastic in commerce, we still do not have a national standard for the subject.
      </p>

      <p>
        29. Our street art — Monica, author of the blog Not a Nomad, was stunned by the color and variety of graffiti on the streets of São Paulo. She is American and lives in Berlin, where street art is also highly encouraged, but she believes that Brazilian graffiti artists are at a higher level of artistic expression. She cites muralist Kobra as one of those who most impressed her.
      </p>

      <p>30. Our diversity — The mix of so many peoples is expressed in the richness of our culture, our cuisine and our way of being. The diversity of Brazil enchants those who come from abroad.</p>

      <p>31. Our hospitality — We are good hosts — is what most foreign observers say. “Brazilians even change direction to help you get somewhere”, points out the Wanderful World blog.</p>

      <p></p>

      <p></p>

      <div class="referencia-article">
        <a
          href="https://incrivel.club/inspiracao-gente/30-coisas-do-brasil-que-os-estrangeiros-acham-esquisitas-irritantes-ou-maravlihosas-1039110/"
          target="_blank"
        >
          <h3>
            Reference: <br />
            https://incrivel.club/inspiracao-gente/30-coisas-do-brasil-que-os-estrangeiros-acham-esquisitas-irritantes-ou-maravlihosas-1039110/
          </h3>
        </a>
      </div>
    </div>
  </div>
</div>
