<div class="container">
    <div class="page-header">
        <h1 class="page-title">About</h1>
    </div>
    <div class="page-content">
        <p class="sobre-nos-titulo">Sobre nós</p>
        <p> O grupo Learn Portuguese from Brazil foi uma iniciativa criada por mim
            (" José Junior ") em 2020, no início criei o grupo no Meetup no intuito de ajudar pessoas estrangeiras a aprender
            o meu idioma o português brasileiro e ao mesmo tempo aperfeiçoar o meu inglês devido o contato direto com estrangeiros.</p>
        <p>Iniciei fazendo eventos para iniciantes e intermediários, onde eu ensinava gramática e também a prática de 
            conversação, após um certo tempo devido o crescimento do grupo começamos a ter pessoas com diferentes níveis de 
        fluência e também começou a ter brasileiros nos eventos, daí surgiu a ideia de fazer eventos de Language Exchange onde
        nós reunimos brasileiros e estrangeiros para praticarem juntos, nós brasileiros ajudamos os falantes não nativos
        a aprender o português e eles nos ajudam a aprender o inglês e a ideia deu super certo, hoje nossos eventos são de 
        Language Exchange e conta com várias pessoas de vários lugares do Brasil e do mundo, sendo a maioria dos estrangeiros dos estados unidos.
     </p>
     <p class="sobre-nos-titulo">Os eventos são gratuitos ?</p>
     <p> Sim os eventos são totalmente gratuitos e qualquer pessoa que tenha interesse em aprender o português ou o inglês 
        é bem-vindo ao grupo, porém apesar dos eventos serem gratuitos o grupo contem algumas despesas como conta do zoom e 
        também a conta do Meetup, então estamos aberto para aceitar doações no valor de qualquer quantia para ajudar a manter 
        as despesas do grupo porém lembrando que não é obrigatório.
     </p>
     <p class="sobre-nos-titulo">Como eu posso fazer uma doação para o grupo ?</p>
     <p> A doação pode ser feita através do link abaixo e também em outras áreas do nosso website, e pode ser qualquer valor, a plataforma utilizada é o Paypal.
        Para a sua segurança confere o nome da pessoa para quem está sendo feita a doação, tem que está com o meu nome
        ("JOSÉ ADEMAR DE OLIVEIRA JUNIOR") fundador do grupo. Note: Nunca eu envio mensagens no privado pedindo doações ou qualquer coisa
        referente a dinheiro, tome cuidado para não cair em golpes.
       
     </p>
    <p>
    
        <div class="support-license" style="margin-top: 20px;">
            <ul>
                <li>Quer ajudar com alguma doação ? <a href="https://www.paypal.com/donate/?business=LW8EZHKSB9WKQ&currency_code=USD&Z3JncnB0" target="_blank">Doações</a>
                </li>
            </ul>
        </div>

        <p class="sobre-nos-titulo">Quais são os dias dos eventos ?</p>
     <p> Os eventos geralmente é realizado aos domingos porém não todos os domingos, geralmente temos entre dois ou três
        eventos por mês, más as vezes temos eventos durante a semana quando temos voluntários para realizar eventos.
        Sendo assim é um pouco dinâmico os dias dos eventos, porém você pode acompanhar as datas pelos nossos grupos.
       
     </p>
     
     <!-- <div class="about-us-iframe"><iframe src="https://tifreelancerdf.wixsite.com/portuguese/projetos "></iframe></div> -->
     
    </div>
</div>