<div class="container">
  <div class="page-content">
    <!--<div>
      <ul class="audio-article">
        <li>
          <h3>
            <a href="https://drive.google.com/drive/u/1/folders/1DjSDLbNCG3OksyRqw1DwNZRL-qDQI1QU"
              target="_blank">🎧DOWNLOAD THE AUDIO
            </a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="https://drive.google.com/drive/u/1/folders/1hWDfZ9ilsbcTsFo9zPOrXbdIRgqiB-MX"
              target="_blank">📖DOWNLOAD ALL THE ARTICLES</a>
          </h3>
        </li>
      </ul>
    </div>-->
    <div class="parafrafo-portuguese">

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 1</h3>
      <p>bem-estar = well-being <br>
        Explicação: o estado de ser feliz e saudável.</p>

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 2</h3>
      <p>luta = struggle <br>
        Explicação: sentir dificuldade em lidar com algo. </p>

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 3</h3>
      <p>inaceitavelmente = unacceptably <br>
        Explicação: de uma forma que não é aceitável, permitida, etc..

      </p>

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 4</h3>
      <p>senior = senior <br>
        Explicação: ter uma posição ou status elevado.
      </p>

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 5</h3>
      <p>apoiar = support <br>
        Explicação: aprovação ou incentivo; uma pessoa ou coisa que fornece aprovação ou incentivo.
      </p>

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 6</h3>
      <p>política = policy <br>
        Explicação: um plano ou regra implementada ou proposta por uma organização ou governo.
      </p>

      <h1>
        Pesquisa: O bem-estar piora, mas os empregadores não percebem
      </h1>
      <p>
        Você já pensou que seu chefe não entende como você se sente?
        Se sim, você está longe de estar sozinho, de acordo com uma pesquisa sobre bem-estar no local de trabalho.
      </p>

      <p>
        A maioria dos funcionários sente que seu bem-estar no trabalho piorou ou permaneceu o mesmo desde 2022,
        descobriu a pesquisa da Workplace Intelligence e da Deloitte.
      </p>

      <p>
        Ela disse que muitos funcionários estão “lutando com níveis inaceitavelmente baixos de bem-estar”.
      </p>

      <p>
        Mas a maioria dos gestores seniores pensa que o bem-estar dos seus funcionários está a melhorar.
      </p>

      <p>
        A pesquisa incluiu 3.150 gestores seniores, gestores juniores e funcionários nos EUA, Canadá, Reino Unido e
        Austrália.
      </p>

      <p>
        Apenas 36% dos colaboradores afirmaram que o seu bem-estar físico melhorou, enquanto 33% afirmaram que o seu
        bem-estar mental melhorou.
      </p>

      <p>
        Mas entre os gestores seniores, 80% disseram acreditar que o bem-estar físico dos seus funcionários será melhor
        em 2023, e 77% disseram que o bem-estar mental dos seus funcionários melhorou.
      </p>

      <p>
        A Deloitte disse que o bem-estar no trabalho piorou para a maioria das pessoas desde a pandemia do coronavírus.
        E disse que os gestores estão a lutar contra o seu próprio fraco bem-estar no trabalho.
      </p>

      <p>
        Três quartos dos gestores seniores, 64% dos gestores juniores e 60% dos funcionários disseram que estão a pensar
        em deixar o seu emprego por um que “apoie melhor o seu bem-estar”.
      </p>

      <p>No entanto, isso não é novidade. Um inquérito realizado pela Adecco em 2022 também revelou que 45% dos
        trabalhadores consideravam que os seus empregadores não ofereciam apoio suficiente para o seu bem-estar.</p>

      <p>A Deloitte disse que 85% dos gestores planejam fazer mais pelo bem-estar dos seus funcionários nos próximos
        dois anos.</p>

      <p>Mas 70% dos gestores disseram que problemas como as políticas da empresa, muito trabalho e uma “cultura de
        trabalho pouco favorável” tornam difícil para eles apoiar o bem-estar dos funcionários.</p>



      <h2>Exercício 1 Questões</h2>


      <p>
        1. Quantos funcionários o estudo analisou?
      </p>

      <p>
        2. Qual porcentagem de funcionários disse que seu bem-estar físico melhorou?
      </p>

      <p>
        3. O que os gestores disseram que tornou difícil para eles apoiar o bem-estar dos funcionários?
      </p>

      <p>
        4. O que você acha das descobertas da Deloitte?
      </p>

      <p>
        5. Você acha surpreendente que a maioria dos funcionários sinta que seu bem-estar no trabalho piorou desde 2022?
      </p>

      <p>
        6. Por que você acha que os gestores seniores acreditam que o bem-estar dos funcionários melhorou quando na
        verdade piorou?
      </p>

      <p>
        7. Você já ocupou um cargo de gestão? Se sim, qual foi a coisa mais difícil nisso? Se não, você acha que iria
        gostar?
      </p>

      <p>
        8. A sua empresa tem uma cultura de trabalho de apoio?
      </p>

      <p>
        9. Quais são os aspectos mais agradáveis ​​do seu trabalho?
      </p>


      <p>
        10. Do que você mais sentiria falta do seu local de trabalho se saísse?
      </p>

      <p>
        11. Você já pensou em deixar seu local de trabalho? O que você estaria interessado em fazer em vez disso?
      </p>

      <p>
        12. Qual seria o emprego dos seus sonhos?
      </p>

      <p>
        13. Você conhece alguém que adora seu trabalho?
      </p>



      <div class="referencia-article">
        <a href="https://engoo.com/app/daily-news/article/survey-well-being-worsens-but-employers-dont-notice/z8IYWky-Ee6nK5ueI-pU_w"
          target="_blank">
          <h3>
            Reference: <br />
            https://engoo.com/app/daily-news/article/survey-well-being-worsens-but-employers-dont-notice/z8IYWky-Ee6nK5ueI-pU_w
          </h3>
        </a>
      </div>
    </div>
  </div>
</div>