<div class="container">
  <div class="page-content">
    <!--<div>
      <ul class="audio-article">
        <li>
          <h3>
            <a href="https://drive.google.com/drive/u/1/folders/1DjSDLbNCG3OksyRqw1DwNZRL-qDQI1QU"
              target="_blank">🎧DOWNLOAD THE AUDIO
            </a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="https://drive.google.com/drive/u/1/folders/1hWDfZ9ilsbcTsFo9zPOrXbdIRgqiB-MX"
              target="_blank">📖DOWNLOAD ALL THE ARTICLES</a>
          </h3>
        </li>
      </ul>
    </div>-->
    <div class="parafrafo-portuguese">

      <!--<h3 style="color: rgb(247, 138, 5);">Vocabulário 1</h3>
      <p>hipertensão = blood pressure <br>
        Exemplo: A <mark style="color: rgb(245, 73, 6);">hipertensão</mark> arterial está associada a riscos aumentados
        de doenças cardiovasculares.</p>

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 2</h3>
      <p>derrame/avc = stroke <br>
        Exemplo: Quanto mais rápido uma vítima de <mark style="color: rgb(245, 73, 6);">derrame</mark> for tratada,
        melhores serão suas chances de recuperação . </p>

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 3</h3>
      <p>prescrever = prescribe <br>
        Exemplo: A codeína é um dos opioides mais comumente <mark style="color: rgb(245, 73, 6);">prescritos </mark>nos
        Estados Unidos.

      </p>

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 4</h3>
      <p>simulação = simulation <br>
        Exemplo: O centro de treinamento usa o software de <mark style="color: rgb(245, 73, 6);">simulação</mark> de voo
        mais avançado disponível.
      </p>

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 5</h3>
      <p>estimativa = estimate <br>
        Exemplo: <mark style="color: rgb(245, 73, 6);"> Estima-se</mark> que a poluição do ar cause mais de 4 milhões de
        mortes prematuras a cada ano.
      </p>

      <h3 style="color: rgb(247, 138, 5);">Vocabulário 6</h3>
      <p>produtividade = productivity <br>
        Exemplo: Minha <mark style="color: rgb(245, 73, 6);"> produtividade</mark> geralmente cai nas horas após o
        almoço.
      </p>-->

      <h1>
        Comidas estranhas do Brasil, veja algumas opções muito estranhas
      </h1>
      <p>
        Quando o assunto é a culinária brasileira, logo se pensa na feijoada, coxinha ou pão de queijo. Fora isso, as
        comidas típicas de cada região também são sempre lembradas.
      </p>

      <p>
        Mas você já parou para pensar sobre os alimentos que
        são exóticos? ou qual a opção de comida mais estranha do Brasil? Veja aqui algumas opções.
      </p>

      <p>
        Ninguém costuma associar que no Brasil também tem comida estranha. A verdade é que o nosso país é bem vasto e,
        por isso, há diferentes culturas e pratos comuns.
      </p>

      <p>
        Isso quer dizer que, mesmo que para você algo pareça comum, para uma outra pessoa pode ser estranho.
      </p>

      <p>
        Afinal de contas, cada localidade possui o seu próprio modo de viver e, claro, de se alimentar. Então, no artigo
        de hoje, iremos falar sobre algumas comidas estranhas do Brasil.
      </p>

      <p>
        Ter um paladar rico envolve provar não apenas aquilo que é comum ou que vai lhe agradar. Então, de todo modo,
        vale a pena dar uma chance (ao menos uma vez) para alguns pratos exóticos. Por isso, nos tópicos seguintes,
        iremos falar sobre algumas opções.
      </p>
      <h1>Moela</h1>

      <p>
        Sim, esse é um prato até que bastante comum e popular em diversas regiões do Brasil. Inclusive, a grande parte
        das pessoas gosta desse tipo de alimento, a depender da forma que ele é preparado. E, convenhamos, o gosto não é
        lá tão ruim.
      </p>
      <h1>Chouriço</h1>

      <p>
        Em alguns locais, se conhece como “chouriça” ou “morcela”, mas é a mesma coisa. Também é um alimento bem comum
        de se encontrar em diversas regiões do Brasil, e é bem comum ver pessoas elogiando o alimento.
      </p>

      <p>
        No entanto, independente do sabor, a verdade é que a origem do alimento é, no mínimo, exótica. Nada mais é que
        um tipo de linguiça, mas que é preenchida com gordura, carne e sangue de porco. Fora isso, adiciona-se alguns
        temperos, a fim de deixar o gosto mais agradável.
      </p>
      <h1>Buchada de bode</h1>
      <p>Esse talvez tenha sido o primeiro prato que você tenha pensado ao iniciar a sua leitura no artigo. No entanto,
        diferente dos demais, essa receita não é tão comum em alguns estados do Brasil. Tanto que, para alguns, vai ser
        a primeira vez ouvindo falar do alimento.</p>

      <p>Trata-se de um prato comum da região nordestina e, como o nome sugere, nada mais é que um bucho, mas das
        entranhas do bode. Para preparar o alimento, usa-se o rim, vísceras e fígado, mas tudo muito bem lavado e
        fervido nesta que sem dúvidas é uma comida muito estranha do Brasil.</p>

      <h1>Caldo de Turu</h1>

      <p>O caldo ou sopa de turu também é um alimento que nem todos conhecem, mas que em algumas regiões do Brasil é bem
        comum. E, bem como a buchada de bode, é uma daquelas comidas que ou você ama, ou odeia.</p>

      <p>E isso acontece porque o ingrediente principal nada mais é que um molusco, o qual só é possível encontrar em
        troncos de árvores podres nos mangues. Então, ainda que leve algumas especiarias, o visual não é dos melhores.
      </p>

      <p>De início, o turu deve descansar numa tigela por cerca de uma hora, para soltar o líquido leitoso de cor roxo
        claro. Esse líquido é essencial na hora do cozimento desta que é uma comida muito estranha do Brasil.</p>

      <h1>Fígado</h1>

      <p>O fígado é um alimento que, à medida que o tempo passa, as pessoas tem se acostumado com a ideia. No entanto,
        ele não deixa de ser um prato exótico. Além do seu gosto bem característico, trata-se de uma opção bem
        nutritiva.</p>

      <h1>Sarapatel</h1>

      <p>Esse é aquele tipo de comida que nem todo mundo encara, e também faz parte da lista de que “ou se ama, ou se
        odeia”. E isso acontece porque os ingredientes são bem fora do comum. O sarapatel leva vísceras de porco, do
        cabrito ou do borrego.</p>

      <p>Para quem não sabe, borrego é o cordeiro que ainda não está em tempo de procriar. No entanto, o mais exótico é
        que, durante o preparo, utiliza-se sangue coagulado do animal, o qual costuma ser cortado em pedaços.</p>


      <h1>Dobradinha</h1>

      <p>Agora que voce já conheceu algumas opções de comida estranha do Brasil, conheça uma deliciosa opção. A
        dobradinha faz parte da família da buchada e da panelada, a qual é feita apenas com bucho de animais, em
        especial a de boi. No entanto, ele também leva feijão branco, bacon, linguiça defumada e outros ingredientes a
        gosto.</p>

      <h1>Coração de frango</h1>

      <p>Não importa a forma como é servido, o coraçãozinho de frango é uma iguaria nacional. O consumo entre os
        brasileiro é tão intenso que se trata da única parte do frango que não é exportada.</p>

      <!--

      <h2>Exercício 1 Questões</h2>


      <p>
        1. Quais são seus pensamentos sobre as conclusões deste estudo?
      </p>

      <p>
        2. Você acha que os programas de prescrição de alimentos serão comuns no futuro?
      </p>

      <p>
        3. Você acha surpreendente que tão poucos americanos comam a quantidade recomendada de frutas e vegetais?
      </p>

      <p>
        4. Quão caras são as frutas e verduras onde você mora?
      </p>

      <p>
        5. Os alimentos pouco saudáveis ​​são baratos no seu país?
      </p>

      <p>
        6. Você descreveria a dieta típica do seu país como saudável?
      </p>

      <p>
        7. Quais países você imagina que têm as dietas mais saudáveis ​​do mundo?
      </p>

      <p>
        8. Existem alimentos que você está tentando comer ?
      </p>

      <p>
        9. Qual dos seus amigos ou familiares presta mais atenção ao que come?
      </p>

      <!--

      <p>
        19. Usar guardanapo para comer qualquer coisa com as mãos — Não é
        esquisito eles acharem isso esquisito? Mas nós preferimos não ficar com
        a mão engordurada de quibe e de coxinha!
      </p>

      <p>
        20. Casais sentados um ao lado do outro no restaurante — Não é
        romântico? Facilita tanto na hora de dar um beijinho... Mas há
        estrangeiros que não estão acostumados com essa configuração, sabe-se lá
        a razão. Aliás, beijos em lugares públicos não são muito bem vistos em
        certos países.
      </p>

      <p>
        21. Chamar pelo primeiro nome — Quem acha esse comportamento peculiar
        são as pessoas do mundo corporativo, que no exterior têm um tratamento
        mais formal, tipo “Mr. Smith” para cá e “Mr. Souza” para lá. Perguntar
        “o que você achou do nosso projeto, Ronald?” pode soar estranho a um
        executivo americano.
      </p>

      <p>
        22. Nossas longas despedidas — Sabe quando a turma sai da balada, do bar
        ou do restaurante e dá tchau, mas ainda rola mais um papo... e mais
        beijinhos, mais tchaus? E a coisa nunca acaba? Para alguns estrangeiros,
        esse ritual de adeus que parece não ter fim, típico dos brasileiros,
        pode parecer meio engraçado.
      </p>

      <p>
        23. Usar sunga nas praias — Americanos, por exemplo, acham estranhas as
        sungas mais cavadas que os rapazes brasileiros usam para ir à praia. Tem
        até discussão na internet sobre o tema. Lá eles preferem calções mais
        longos e largos, e acham nosso look praiano de gosto meio duvidoso.
      </p>

      <p>
        24. Nosso alto índice de cirurgias plásticas — Em alguns lugares do
        mundo, é indiscreto perguntar a uma pessoa se ela fez algum tipo de
        cirurgia estética. Aqui, ao contrário, o novo formato do nariz ou a
        eliminação da papada vira o assunto da roda. O Brasil é o vice-campeão
        em plásticas e perde apenas para os Estados Unidos. Mas, como já
        dissemos, lá não é de bom tom comentar o assunto.
      </p>

      <p>
        25. Cobrador de ônibus e frentista de posto — Essas profissões inexistem
        na maioria dos países, onde os cidadãos têm o transporte público
        pré-pago por um determinado período (ou compram tíquetes em máquinas
        eletrônicas) e colocam gasolina por um sistema self-service.
      </p>

      <p>
        26. Acenar para o ônibus parar — Em grandes cidades da Europa ou da
        América do Norte, os ônibus param em todos os pontos. Aqui, se não
        acenamos, corremos o risco de perder a condução que esperamos por um
        tempão.
      </p>

      <p>
        27. Nosso alto número de feriados — Ao todo, temos 12 feriados
        nacionais, sem contar os decretados por estados e municípios e aqueles
        dedicados a certas categorias profissionais, como o Dia do Professor.
        Para alguns estrangeiros, é um descalabro. Outros países, como a
        Colômbia e a Índia, porém, são mais “folgados” e chegam a ter 18
        feriados por ano.
      </p>

      <p>
        28. O uso abusivo de sacolas plásticas — Muitos países do primeiro mundo
        já aboliram os saquinhos de plástico em supermercados e lojas. Por isso,
        alguns estrangeiros se espantam ao ver alguém sair do mercado no Brasil
        com mais de 10 sacolinhas nas mãos. Embora alguns municípios brasileiros
        tenham adotado medidas restritivas sobre o uso de plástico no comércio,
        ainda não temos uma norma nacional para o tema.
      </p>

      <p>
        29. Nossa arte de rua — Monica, autora do blog Not a Nomad, ficou
        abismada com a cor e a variedade dos grafites nas ruas de São Paulo. Ela
        é americana e vive em Berlim, onde a arte de rua também é bastante
        incentivada, mas acredita que os grafiteiros brasileiros estejam em um
        nível superior de expressão artística. Cita o muralista Kobra como um
        dos que mais a impressionou.
      </p>

      <p>
        30. Nossa diversidade — A mistura de tantos povos se expressa na riqueza
        da nossa cultura, da nossa culinária e do nosso jeito de ser. A
        diversidade do Brasil encanta quem vem de fora.
      </p>

      <p>
        31. Nossa hospitalidade — Somos bons anfitriões — é o que a maioria dos
        observadores estrangeiros dizem. “Os brasileiros até mudam de direção
        para ajudar você a chegar em algum lugar”, aponta o blog Wanderful
        World.
      </p>

      -->

      <div class="referencia-article">
        <a href="https://comidaspelomundo.com/comida-estranha-do-brasil-veja-algumas-opcoes-muito-estranhas/"
          target="_blank">
          <h3>
            Reference: <br />
            https://comidaspelomundo.com/comida-estranha-do-brasil-veja-algumas-opcoes-muito-estranhas/
          </h3>
        </a>
      </div>
    </div>
  </div>
</div>